{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Registration{% endblock title %}

{% block css %}
<style type="text/css" media="all">
html, body{
  color: white;
   background: url("{% static 'myapp/images/bg-image.jpg' %}") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
 </style>
 {% endblock css %}
 
 {% block main-content %}
  <div class="container my-3">
    <h1 class="fw-bold text-center"><u>Registration Form</u></h1>
    <form class="form-group" action="" method="POST" accept-charset="utf-8">
      {% csrf_token %}
      {% for fm in form %}
      <div class="my-2">
       {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
      </div>
      {% endfor %}
      <div class="d-grid d-block fw-bold">
        <button type="submit" class="btn btn-danger my-2">Save/Next</button>
      </div>
    </form>
  </div>
 {% endblock main-content %}