{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}Book Tickets{% endblock title %}

{% block css %}
<style type="text/css" media="all">
html, body{
  color: white;
   background: url("{% static 'myapp/images/bg-image.jpg' %}") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 
 li{
   list-style-type: none;
 }
</style>
{% endblock css %}

{% block main-content %}
<div class="container my-3">
  <h1 class="text-center"><u>Your Ticket Information!</u></h1>
  <div class="row">
    <div class="col-sm-5">
      <img class="my-4 img-fluid img-thumnail border-right" src="{% static 'myapp/images/book.jpg' %}" width="100%" height="auto" alt="" />
    </div>
    <div class="col-sm-7 my-5">
      <ul>
        <li class="fw-bold"><span style="color:red">No-</span> {{tn.train_no}}</li>
        <hr />
        <li class="fw-bold"><span style="color:red">Name-</span> {{tn.train_name}}</li>
        <hr />
        <li class="fw-bold"><span style="color:red">Source-</span> {{tn.train_from}}</li>
        <hr />
        <li class="fw-bold"><span style="color:red">Destination-</span> {{tn.train_to}}</li>
        <hr />
        <li class="fw-bold"><span style="color:red">Price-</span> {{tn.train_price}}</li>
        <hr />
        <li class="fw-bold"><span style="color:red">Seat No-</span> {{seat_no}}</li>
      </ul>
    </div>
  </div>
  <hr class="muted-text"/>
  <div class="row">
    <img class="my-4 img-fluid img-thumnail border-right" src="{% static 'myapp/images/paypal.png' %}" width="440vw" height="100vh" alt="" />
  </div>
  <div class="row my-3">
    <form class="form-group" action="/booktrain" method="POST" accept-charset="utf-8">
      {% csrf_token %}
      <span class="h3 mx-3">Paypal: <input type="checkbox" value="gateway"/></span>
      <span class="h3 mx-3">Bhim UPI: <input type="checkbox" value="gateway"/></span>
      <span class="h3 mx-3">Credit Card: <input type="checkbox" value="gateway"/></span>
      <span class="h3 mx-3">Debit Card: <input type="checkbox" value="gateway"/><span>
      <input type="hidden" name="tid" id="tid" value="{{tn.id}}" />
      <div class="d-grid d-block">
        <button type="submit" class="my-3 btn btn-dark fw-bold">Confirm</button>
      </div>
    </form>
  </div>
</div>
{% endblock main-content %}